footer{
background-color: map-get($colores ,"negro");
}  
#foot{
    ul{
      li{
        @include listaHeader;  
      }
    }
} 
.iconoWhuas{
  position:fixed;
  bottom: 20px;
  right: 20px;
  width: 5%;
  }  
@media  screen and (max-width: 500px) {
.iconoWhuas  {
  position:fixed;
  bottom: 20px;
  right: 20px;
  width: 10%;
} }