
#imgApp{
height: 150px;
width: 150px;
}
#imgMot{   
height: 210px;
width: 210px;
}
#imgHua{
height: 170px;
width: 170px;
}
#divMoto{
height: 170px;
width: 150px;
}
#divReparacion{
height: 170px;
width: 150px;
}
#divPaquete{
height: 170px;
width: 150px;
}
#imgTarjetas{
height:35px;
}

main{
background: $colorPrincipal;   
}